# Токен бота
BOT_TOKEN=

# Параметры PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Локальный Telegram Bot API
LOCAL_BOT_API_HOST=http://localhost:8081
LOCAL_BOT_API_REMOTE_DIR=/var/lib/telegram-bot-api
LOCAL_BOT_API_DATA_DIR=
LOCAL_BOT_API_CACHE_DIR=/opt/bespilotnik/data/telegram_files

# Пути и URL публичных файлов
NGROK_PUBLIC_URL=https://example.ngrok-free.app
WEBHOOK_PATH=/webhook
PUBLIC_MEDIA_ROOT=/opt/bespilotnik/data

# Администраторы и вспомогательные параметры
MAIN_ADMIN_IDS=7797651918

# Параметры логирования
LOG_LEVEL=INFO
LOG_DIR=/opt/bespilotnik/logs
LOG_ROTATION_MODE=size
LOG_MAX_BYTES=10485760
LOG_BACKUP_COUNT=7
LOG_TIME_ROTATION=midnight
LOG_TIME_ROTATION_INTERVAL=1
