# Виртуальное окружение
.venv/
venv/
env/

# PyCharm
.idea/
*.iml

# VSCode
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db

# Базы данных (локальные)
*.sqlite3
*.db

# Временные/служебные файлы
*.xml
